definitions:
  github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata:
    properties:
      page:
        type: integer
      size:
        type: integer
      total_item:
        type: integer
      total_page:
        type: integer
    type: object
  ? github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_CommentResponseList
  : properties:
      data:
        items:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.CommentResponse'
        type: array
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  ? github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_ImageResponse
  : properties:
      data:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.ImageResponse'
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  ? github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_LikeResponseList
  : properties:
      data:
        items:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.LikeResponse'
        type: array
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  ? github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserLoginResponse
  : properties:
      data:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.UserLoginResponse'
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  ? github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserResponse
  : properties:
      data:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.UserResponse'
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-string:
    properties:
      data:
        type: string
      error_detail:
        items:
          type: string
        type: array
      error_message:
        type: string
      paging:
        $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.PageMetadata'
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.CommentImageRequest:
    properties:
      comment:
        type: string
      image_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.CommentResponse:
    properties:
      comment:
        type: string
      created_at:
        type: string
      deleted_at:
        $ref: '#/definitions/gorm.DeletedAt'
      id:
        type: integer
      image_id:
        type: integer
      updated_at:
        type: string
      user_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.FollowUserRequest:
    properties:
      following_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.ImageResponse:
    properties:
      comment_count:
        type: integer
      created_at:
        type: string
      deleted_at:
        $ref: '#/definitions/gorm.DeletedAt'
      id:
        type: integer
      like_count:
        type: integer
      updated_at:
        type: string
      url:
        type: string
      user_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.LikeImageRequest:
    properties:
      image_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.LikeResponse:
    properties:
      created_at:
        type: string
      deleted_at:
        $ref: '#/definitions/gorm.DeletedAt'
      id:
        type: integer
      image_id:
        type: integer
      updated_at:
        type: string
      user_id:
        type: integer
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.LoginUserRequest:
    properties:
      password:
        maxLength: 100
        type: string
      username:
        maxLength: 100
        type: string
    required:
    - password
    - username
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.RegisterUserRequest:
    properties:
      name:
        maxLength: 100
        type: string
      password:
        maxLength: 100
        type: string
      username:
        maxLength: 100
        type: string
    required:
    - name
    - password
    - username
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.UpdateUserRequest:
    properties:
      name:
        maxLength: 100
        type: string
      password:
        maxLength: 100
        type: string
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.UserLoginResponse:
    properties:
      created_at:
        type: string
      id:
        type: integer
      name:
        type: string
      token:
        type: string
      updated_at:
        type: string
      username:
        type: string
    type: object
  github_com_Hidayathamir_golang-clean-architecture_internal_model.UserResponse:
    properties:
      created_at:
        type: string
      id:
        type: integer
      name:
        type: string
      updated_at:
        type: string
      username:
        type: string
    type: object
  gorm.DeletedAt:
    properties:
      time:
        type: string
      valid:
        description: Valid is true if Time is not NULL
        type: boolean
    type: object
info:
  contact: {}
  title: Golang Clean Architecture
paths:
  /api/images:
    post:
      consumes:
      - multipart/form-data
      description: Upload an image file
      parameters:
      - description: Image to upload
        in: formData
        name: image
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_ImageResponse'
      security:
      - SimpleApiKeyAuth: []
      summary: Upload image
      tags:
      - images
  /api/images/_comment:
    post:
      consumes:
      - application/json
      description: Comment an image
      parameters:
      - description: Comment Image Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.CommentImageRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-string'
      security:
      - SimpleApiKeyAuth: []
      summary: Comment image
      tags:
      - images
  /api/images/_like:
    post:
      consumes:
      - application/json
      description: Like an image
      parameters:
      - description: Like Image Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.LikeImageRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-string'
      security:
      - SimpleApiKeyAuth: []
      summary: Like image
      tags:
      - images
  /api/images/{imageId}/comments:
    get:
      description: Get list of comments for an image
      parameters:
      - description: Image ID
        in: path
        name: imageId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_CommentResponseList'
      security:
      - SimpleApiKeyAuth: []
      summary: Get image comments
      tags:
      - images
  /api/images/{imageId}/likes:
    get:
      description: Get list of likes for an image
      parameters:
      - description: Image ID
        in: path
        name: imageId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_LikeResponseList'
      security:
      - SimpleApiKeyAuth: []
      summary: Get image likes
      tags:
      - images
  /api/users:
    post:
      description: Register a new user account
      parameters:
      - description: Register User Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.RegisterUserRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserResponse'
      summary: Register user
      tags:
      - users
  /api/users/_current:
    get:
      description: Get profile of the currently authenticated user
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserResponse'
      security:
      - SimpleApiKeyAuth: []
      summary: Get current user
      tags:
      - users
    patch:
      description: Update profile of the current authenticated user
      parameters:
      - description: Update User Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.UpdateUserRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserResponse'
      security:
      - SimpleApiKeyAuth: []
      summary: Update user
      tags:
      - users
  /api/users/_follow:
    post:
      description: Follow a user
      parameters:
      - description: Follow User Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.FollowUserRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-string'
      security:
      - SimpleApiKeyAuth: []
      summary: Follow user
      tags:
      - users
  /api/users/_login:
    post:
      description: Authenticate a user and return access token
      parameters:
      - description: Login User Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_model.LoginUserRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Hidayathamir_golang-clean-architecture_internal_delivery_http_response.WebResponse-github_com_Hidayathamir_golang-clean-architecture_internal_model_UserLoginResponse'
      summary: Login user
      tags:
      - users
securityDefinitions:
  SimpleApiKeyAuth:
    description: Simple token authorization
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
